@import "../../variables.scss";

button {
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: $main-color;
  color: white;
  font-size: 1.2em;
  font-family: $button-font;

  margin: 0 20px 0 20px;
  cursor: pointer;
}

button:hover {
  background-color: $secondary-color;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  transform: translateY(-4px);
}
