@import "../../variables.scss";

.container {
  background-image: url(../../assets/background.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
}

h1 {
  color: $main-color;
}
.question {
  width: 50%;
  height: 50%;
  border-radius: 30px;
  background-color: #e8bae9;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: $main-color;
  font-family: $main-font;
  font-size: 1.5em;
  font-weight: 400;
  padding: 30px;
  text-align: center;

  &__input {
    width: 70%;
    height: 25%;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }

  &__score {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .question {
    width: 90%;
    height: 60%;
    border-radius: 20px;
    font-size: 1em;
    padding: 20px;
  }
}
