@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@100;300;400;600&family=Rajdhani:wght@300;400;500&display=swap");

$main-font: "Anybody", sans-serif;
$button-font: "Rajdhani", "Arial", sans-serif;
$main-color: #0e142a;
$secondary-color: #493f98;
