@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Rajdhani:wght@300;500;700&display=swap");
$main-font: "Poppins", sans-serif;
$button-font: "Rajdhani", "Arial", sans-serif;
$main-color: #0f1c49;
$secondary-color: #493f98;
