@import "../../variables.scss";

.modal {
  width: 100%;
  height: 100%;
  background: rgba($color: #0e142a, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: white;
    padding: 50px 150px 0 150px;
  }

  &__answer {
    margin: 20px;
    font-family: $main-font;
    font-size: 1.2em;
    padding-bottom: 50px;
    line-height: 1.5em;
    text-align: center;
  }

  &__btn {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .modal {
    &__container {
      padding: 10px;
    }

    &__answer {
      margin-top: 20px;
      font-size: 1em;
    }

    &__btn {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 20px;
    }
  }
}
